<AntiFraudBrokerMessage>
	<Header>
		<IPAddress>$!body.encabezado.ip</IPAddress>
		<Devicefingerprint>$!body.encabezado.deviceFingerprint</Devicefingerprint>
		<Channel>$!body.encabezado.canal</Channel>
		<BusinessLine>$!body.encabezado.lineaNegocio</BusinessLine>
	</Header>
	<TransactionDetails>
		<TransactionSourceCountry>$!body.datosCompra.pais</TransactionSourceCountry>
		<ThirdPartyBooking>$!body.datosCompra.thirdPartyBooking</ThirdPartyBooking>
		<CurrencyType>$!body.datosCompra.tipoMoneda</CurrencyType>
		<PNR>$!body.datosVuelo.pnr</PNR>
		<ReserveOffice>$!body.datosVuelo.oficinaReserva</ReserveOffice>
		<Duration>$!body.datosCompra.duration</Duration>
		<CopypasteTC>$!body.datosCompra.copypasteTC</CopypasteTC>
		<CopypasteNameTH>$!body.datosCompra.copypasteNameTH</CopypasteNameTH>
		<CopypasteBank>$!body.datosCompra.copypasteBank</CopypasteBank>
		<CopypasteCVV>$!body.datosCompra.copypasteCVV</CopypasteCVV>
		<CopypasteEmail>$!body.datosCompra.copypasteEmail</CopypasteEmail>
		<EventDate>$!body.datosCompra.eventDate</EventDate>
		<Flexible>$!body.datosCompra.flexible</Flexible>
		<Languaje>$!body.datosCompra.languaje</Languaje>
		<CorpCod>$!body.datosCompra.corpCod</CorpCod>
		<CorpName>$!body.datosCompra.corpName</CorpName>
		<CorpStatus>$!body.datosCompra.corpStatus</CorpStatus>
		<TravelInsurance>$!body.datosCompra.travelInsurance</TravelInsurance>
		<IdTransaccion>$!body.datosCompra.idTransaccion</IdTransaccion>
	</TransactionDetails>
	<PaymentDetails>
		<PaymentCurrencyType>$!body.datosCompra.tipoMoneda</PaymentCurrencyType>
		<Total>$!body.datosCompra.montoTotal</Total>
		<AdditionalCharges>$!body.datosCompra.additionalCharges</AdditionalCharges>
	</PaymentDetails>
	<CreditCardHolder>
		<ZipCode>$!body.datosTarjeta.codPostalTH</ZipCode>
		<BillingStreet>$!body.datosTarjeta.direccionTH</BillingStreet>
		<BillingStreet2>$!body.datosTarjeta.direccion2TH</BillingStreet2>
		<BillingCity>$!body.datosTarjeta.ciudadTH</BillingCity>
		<BillingState>$!body.datosTarjeta.estadoTH</BillingState>
		<BillingCountry>$!body.datosTarjeta.paisTH</BillingCountry>
		<DocumentType>$!body.datosTarjeta.tipoDocumentoTH</DocumentType>
		<DocumentNumber>$!body.datosTarjeta.numDocumentoTH</DocumentNumber>
		<FirstName>$!body.datosTarjeta.nombreTH</FirstName>
		<LastName>$!body.datosTarjeta.apellidoTH</LastName>
		<BankRegisteredPhoneNumber>$!body.datosTarjeta.telefonoTH</BankRegisteredPhoneNumber>
		<Email>$!body.datosCliente.email</Email>
		<AlternativePhone>$!body.datosCliente.telAlterno</AlternativePhone>
	</CreditCardHolder>
	<CreditCard>
		<IssuingBank>$!body.datosTarjeta.issuingBank</IssuingBank>
		<Number>$!body.datosTarjeta.numTarjeta</Number>
		<ExpirationMonth>$!body.datosTarjeta.mesVencimiento</ExpirationMonth>
		<ExpirationYear>$!body.datosTarjeta.anioVencimiento</ExpirationYear>
		<Installment>$!body.datosCompra.cuotas</Installment>
		<BIN>$!body.datosTarjeta.bin</BIN>
	</CreditCard>
	<Flight>
		<PassengerCount>$!body.datosVuelo.passengerCount</PassengerCount>
		<Type>$!body.datosVuelo.tipoViaje</Type>
		<From>$!body.datosVuelo.from</From>
		<To>$!body.datosVuelo.to</To>
		<Airlinecode>$!body.datosVuelo.airlinecode</Airlinecode>
		<PassengerTotalAmount>$!body.datosVuelo.passengerTotalAmount</PassengerTotalAmount>
	</Flight>
	<Passengers>
		<PassengerEge1>$!body.datosPassenger.passengerEge1</PassengerEge1>
		<PassengerEge2>$!body.datosPassenger.passengerEge2</PassengerEge2>
		<PassengerEge3>$!body.datosPassenger.passengerEge3</PassengerEge3>
		<OfficePhone>$!body.datosPassenger.officePhone</OfficePhone>
		<HomePhone>$!body.datosPassenger.homePhone</HomePhone>
	</Passengers>
</AntiFraudBrokerMessage>