<AntiFraudBrokerMessage>
	<Header>
		<BusinessLine>$!body.encabezado.lineaNegocio</BusinessLine>
		<Channel>$!body.encabezado.canal</Channel>
		<Commerce>$!body.encabezado.commerce</Commerce>
		<RiskValidationService>$!body.encabezado.riskValidationService</RiskValidationService>
		<PhoneCallerID>$!body.encabezado.phoneCallerID</PhoneCallerID>
		<Reference>$!body.encabezado.reference</Reference>
	</Header>
	<TransactionDetails>
		<PNR>$!body.datosVuelo.pnr</PNR>
		<ReserveOffice>$!body.datosVuelo.oficinaReserva</ReserveOffice>
		<TransactionSourceCountry>$!body.datosCompra.pais</TransactionSourceCountry>
		<GapRegistrationTCandBuy>$!body.datosCompra.gapRegistrationTCandBuy</GapRegistrationTCandBuy>
		<Agent>$!body.datosCompra.agent</Agent>
		<DescriptionAncillary>$!body.datosCompra.descriptionAncillary</DescriptionAncillary>
		<ContainsAncillary>$!body.datosCompra.containsAncillary</ContainsAncillary>
		<Duration>$!body.datosCompra.duration</Duration>
		<Flexible>$!body.datosCompra.flexible</Flexible>
		<Languaje>$!body.datosCompra.languaje</Languaje>
		<TravelInsurance>$!body.datosCompra.travelInsurance</TravelInsurance>
		<IdTransaccion>$!body.datosCompra.idTransaccion</IdTransaccion>
	</TransactionDetails>
	<PaymentDetails>
		<PaymentCurrencyType>$!body.datosCompra.tipoMoneda</PaymentCurrencyType>
		<Total>$!body.datosCompra.montoTotal</Total>
		<AdditionalCharges>$!body.datosCompra.additionalCharges</AdditionalCharges>		 
	</PaymentDetails>
	<CreditCard>
		<Number>$!body.datosTarjeta.numTarjeta</Number>
		<ExpirationMonth>$!body.datosTarjeta.mesVencimiento</ExpirationMonth>
		<ExpirationYear>$!body.datosTarjeta.anioVencimiento</ExpirationYear>
		<Installment>$!body.datosCompra.cuotas</Installment>
		<BIN>$!body.datosTarjeta.bin</BIN>
		<IssuingBank>$!body.datosTarjeta.issuingBank</IssuingBank>
		<RegistrationDateTC>$!headers.fecRegisTC</RegistrationDateTC>    
	</CreditCard>
	<CreditCardHolder>
		<BillingStreet>$!body.datosTarjeta.direccionTH</BillingStreet>
		<BillingStreet2>$!body.datosTarjeta.direccion2TH</BillingStreet2>
		<BillingCity>$!body.datosTarjeta.ciudadTH</BillingCity>
		<BillingState>$!body.datosTarjeta.estadoTH</BillingState>
		<BillingCountry>$!body.datosTarjeta.paisTH</BillingCountry>
		<FirstName>$!body.datosTarjeta.nombreTH</FirstName>
		<LastName>$!body.datosTarjeta.apellidoTH</LastName>
		<Email>$!body.datosCliente.email</Email>
		<ZipCode>$!body.datosTarjeta.codPostalTH</ZipCode>
		<DocumentType>$!body.datosTarjeta.tipoDocumentoTH</DocumentType>
		<DocumentNumber>$!body.datosTarjeta.numDocumentoTH</DocumentNumber>
		<BankRegisteredPhoneNumber>$!body.datosTarjeta.telefonoTH</BankRegisteredPhoneNumber>
	</CreditCardHolder>
	<Client>
		<AlternativePhone>$!body.datosCliente.telAlterno</AlternativePhone>
		<Gender>$!body.datosCliente.sexo</Gender>
		<BirthDate>$!headers.fecNac</BirthDate>
		<FrequentFlyerNumber>$!body.viajeroFrecuente.codLifemiles</FrequentFlyerNumber>
		<ProfileInscriptionDate>$!headers.fecIns</ProfileInscriptionDate>
	</Client>
	<Flight>
		<Type>$!body.datosVuelo.tipoViaje</Type>
		<Path>$!body.datosVuelo.path</Path>
		<PassengerCount>$!body.datosVuelo.passengerCount</PassengerCount>
		<From>$!body.datosVuelo.from</From>
		<To>$!body.datosVuelo.to</To>
		<ChangeDate>$!headers.fecChange</ChangeDate>
		<Duration>$!body.datosVuelo.duration</Duration>
		<AirlineCode>$!body.datosVuelo.airlinecode</AirlineCode>
		<FareBasis>$!body.datosVuelo.fareBasis</FareBasis>
		<DayOfWeek>$!body.datosVuelo.dayOfWeek</DayOfWeek>
		<WeekOfYear>$!body.datosVuelo.weekOfYear</WeekOfYear>
	</Flight>
</AntiFraudBrokerMessage>