<AntiFraudBrokerMessage>
	<Header>
		<BusinessLine>$!body.encabezado.lineaNegocio</BusinessLine>
		<IPAddress>$!body.encabezado.ip</IPAddress>
		<Channel>$!body.encabezado.canal</Channel>
		<Devicefingerprint>$!body.encabezado.deviceFingerprint</Devicefingerprint>
	</Header>
	<TransactionDetails>
		<PNR>$!body.datosVuelo.pnr</PNR>
		<ReserveOffice>$!body.datosVuelo.oficinaReserva</ReserveOffice>
		<TransactionSourceCountry>$!body.datosCompra.pais</TransactionSourceCountry>
		<EventDate>$!body.datosCompra.eventDate</EventDate>
		<IdTransaccion>$!body.datosCompra.idTransaccion</IdTransaccion>
	</TransactionDetails>
	<PaymentDetails>
		<PaymentCurrencyType>$!body.datosCompra.tipoMoneda</PaymentCurrencyType>
		<Total>$!body.datosCompra.montoTotal</Total>
		<PurchaseTicketPointsPlusCashOrCard>$!body.datosCompra.compraBoleto</PurchaseTicketPointsPlusCashOrCard>
		<Hotel>$!body.datosCompra.hotel</Hotel>
	</PaymentDetails>
	<CreditCard>
		<Number>$!body.datosTarjeta.numTarjeta</Number>
		<ExpirationMonth>$!body.datosTarjeta.mesVencimiento</ExpirationMonth>
		<ExpirationYear>$!body.datosTarjeta.anioVencimiento</ExpirationYear>
		<Installment>$!body.datosCompra.cuotas</Installment>
		<BIN>$!body.datosTarjeta.bin</BIN>
	</CreditCard>
	<CreditCardHolder>
		<BillingStreet>$!body.datosTarjeta.direccionTH</BillingStreet>
		<BillingStreet2>$!body.datosTarjeta.direccion2TH</BillingStreet2>
		<BillingCity>$!body.datosTarjeta.ciudadTH</BillingCity>
		<BillingState>$!body.datosTarjeta.estadoTH</BillingState>
		<BillingCountry>$!body.datosTarjeta.paisTH</BillingCountry>
		<FirstName>$!body.datosTarjeta.nombreTH</FirstName>
		<LastName>$!body.datosTarjeta.apellidoTH</LastName>
		<Email>$!body.datosCliente.email</Email>
		<ZipCode>$!body.datosTarjeta.codPostalTH</ZipCode>
		<DocumentType>$!body.datosTarjeta.tipoDocumentoTH</DocumentType>
		<DocumentNumber>$!body.datosTarjeta.numDocumentoTH</DocumentNumber>
		<BankRegisteredPhoneNumber>$!body.datosTarjeta.telefonoTH</BankRegisteredPhoneNumber>
	</CreditCardHolder>
	<Client>
		<AlternativePhone>$!body.datosCliente.telAlterno</AlternativePhone>
		<Gender>$!body.datosCliente.sexo</Gender>
		<BirthDate>$!headers.fecNac</BirthDate>
		<FrequentFlyerNumber>$!body.viajeroFrecuente.codLifemiles</FrequentFlyerNumber>
		<FrequentFlyerCategory>$!body.viajeroFrecuente.categoria</FrequentFlyerCategory>
		<MilesAccumulated>$!body.viajeroFrecuente.millasAcumuladas</MilesAccumulated>
		<BalanceMiles>$!body.viajeroFrecuente.saldoMillas</BalanceMiles>
		<FrequentFlyerAgentCreator>$!body.viajeroFrecuente.viajeroFrecuenteCreado</FrequentFlyerAgentCreator>
		<FrequentFlyerDocument>$!body.viajeroFrecuente.docViajeroFrecuente</FrequentFlyerDocument>
		<TransactionTypeMiles>$!body.viajeroFrecuente.tipoTransaccionLM</TransactionTypeMiles>
		<QuantityMiles>$!body.viajeroFrecuente.cantidadMillas</QuantityMiles>
		<FrequentFlyerFullName>$!body.datosCliente.nombre</FrequentFlyerFullName>
		<FrequentFlyerFullLastName>$!body.datosCliente.apellido</FrequentFlyerFullLastName>
		<ProfileInscriptionDate>$!headers.fecIns</ProfileInscriptionDate>
	</Client>
	<Flight>
		<Type>$!body.datosVuelo.tipoViaje</Type>
	</Flight>
</AntiFraudBrokerMessage>