<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
        <soap:Body>
        <ns2:evaluar xmlns:ns2="http://ws.maf.pagosonline.com/" >
            <arg0>${headers.clientId}</arg0>
            <arg1>${headers.login}</arg1>
            <arg2>${headers.password}</arg2>
            <arg3><![CDATA[
			<validar-pago xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://maf.pagosonline.net/ws">
			        <transaccion-id>${headers.idTransaccion}</transaccion-id>
			        <referencia>${headers.pnr}</referencia>
			        <fecha-creacion>${headers.fechaCreacion}</fecha-creacion>
			        <prueba>${headers.prueba}</prueba>
			        <pais>${headers.paisCompra}</pais>
			        <origen>${headers.origen}</origen>
			        <usuario-vendedor>
			                <id>${headers.usuario_vendedor_id}</id>
			                <pais>${headers.usuario_vendedor_pais}</pais>
			                <estado>${headers.usuario_vendedor_estado}</estado>
			        </usuario-vendedor>
			        <usuario-comprador>
			                <pais>${headers.pais}</pais>
			                <fecha-creacion>${headers.fechaCreacion}</fecha-creacion>
			                <nombres>${headers.nombre}</nombres>
			                <apellidos>${headers.apellido}</apellidos>
			                <tipo-documento>${headers.tipoDocumento}</tipo-documento>
			                <numero-documento>${headers.numDocumentoTH}</numero-documento>
			                <sexo>${headers.sexo}</sexo>
			                <fecha-nacimiento>${headers.fechaNacimiento}</fecha-nacimiento>
			                <correo-electronico>${headers.emailCliente}</correo-electronico>
			                <telefono-oficina/>
			                <telefono-residencia>${headers.telAlterno}</telefono-residencia>
			                <telefono-movil/>
			                <direccion>
			                        <pais>${headers.pais}</pais>
			                        <departamento/>
			                        <ciudad>${headers.ciudad}</ciudad>
			                        <calle>${headers.direccion}</calle>
			                        <codigo-postal>${headers.codPostal}</codigo-postal>
			                </direccion>
			                <huella>
			                        <direccion-ip>${headers.ip}</direccion-ip>
			                        <firma-dispositivo>${headers.deviceFingerprint}</firma-dispositivo>
			                        <user-agent>${headers.userAgent}</user-agent>
			                </huella>
			        </usuario-comprador>
			        <descripcion>${headers.lineaNegocio}</descripcion>
			        <valor>${headers.montoTotal}</valor>
			        <direccion-entrega>
			                <pais/>
			                <departamento/>
			                <ciudad/>
			                <calle/>
			                <numero/>
			                <codigo-postal/>
			        </direccion-entrega>
			        <informacion-pago>
			                <tipo-medio-pago>${headers.tipoMedioPago}</tipo-medio-pago>
			                <medio-pago>${headers.franquicia}</medio-pago>
			                <bin>${headers.bin}</bin>
			                <numero>${headers.numTarjeta}</numero>
			                <banco>${headers.issuingBank}</banco>
			                <moneda>${headers.tipoMoneda}</moneda>
			                <fecha-expiracion>${headers.fechaExpiracion}</fecha-expiracion>
			                <cuotas>${headers.cuotas}</cuotas>
			                <codigo-seguridad/>
			                <titular>
			                        <nombre-completo>${headers.nombreTH}</nombre-completo>
			                        <fecha-nacimiento>${headers.fechaNacimiento}</fecha-nacimiento>
			                        <tipo-documento>${headers.tipoDocumento}</tipo-documento>
			                        <numero-documento>${headers.numDocumentoTH}</numero-documento>
			                        <sexo></sexo>
			                        <telefono-oficina/>
			                        <telefono-residencia>${headers.telefonoTH}</telefono-residencia>
			                        <telefono-movil/>
			                        <direccion-correspondencia>
			                                <pais>${headers.paisTH}</pais>
			                                <departamento/>
			                                <ciudad>${headers.ciudadTH}</ciudad>
			                                <calle>${headers.direccionTH}</calle>
			                                <codigo-postal>${headers.codPostalTH}</codigo-postal>
			                        </direccion-correspondencia>
			                </titular>
			        </informacion-pago>
			        #set($datosVuelo = ${exchange.properties.datosVuelo})
			        #set($datosPassenger = ${exchange.properties.datosPassenger})
			        
			        #if($datosVuelo)
			        	<pnr>
							<id>$datosVuelo.pnr</id>
							<oficina-reserva>
								<id>$datosVuelo.oficinaReserva</id>
								<pais>$datosVuelo.paisOficinaReserva</pais>
							</oficina-reserva>
							<oficina-venta>
								<id>$datosVuelo.oficinaReserva</id>
								<pais>$datosVuelo.paisOficinaReserva</pais>
							</oficina-venta>
							<pasajeros>
								<pasajero>
									<nombres>$datosPassenger.nombres</nombres>
									<apellidos>$datosPassenger.apellidos</apellidos>
									<correo-electronico>$datosPassenger.email</correo-electronico>
								</pasajero>
							</pasajeros>
							#if ($datosVuelo.segmentoVuelo)
								<trayectos>
									#foreach( $segmentoVuelo in $datosVuelo.segmentoVuelo )
									 	<trayecto>
											<fecha-salida>$segmentoVuelo.fechaSalida</fecha-salida>
											<fecha-llegada>$segmentoVuelo.fechaLlegada</fecha-llegada>
											<vuelo>$segmentoVuelo.vuelo</vuelo>
											<origen>$segmentoVuelo.origen</origen>
											<destino>$segmentoVuelo.destino</destino>
											<clase>$segmentoVuelo.clase</clase>
										</trayecto>
									 #end
								</trayectos>
							#else 
								<trayectos/>
							#end	        	
			        	</pnr>
			        #end
			</validar-pago>
]]>
        </arg3>
        </ns2:evaluar></soap:Body></soap:Envelope>